/* *
 * Author: Donald Wolfson
 * Date: 01/19/2021
 * */

 /* Class used for the style of both the header and footer. */
.header_footer {
    padding: 80px;
    text-align: center;
    background: #49416D;
    color: white;
}

/* Universal Selecor, default format for all items. */
* {
    text-align: center; 
    margin: auto;
    padding: auto;
    height: auto;
    width: auto;
}

/* Add some padding to all sections. */
section {
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-width: medium;
    border-color: #E08D79;
    border-radius: 15px;
    display: block;
    background-color: #E0EFDE;
    display: static;
}

/* Fixed alignment of ordered lists. */
li, ul {
    list-style-position:inside;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    display: sticky;
}

/* Colors any strikethrough blocks with target=_strike with a dark gray. */
s[target=_strike] {
    color: rgb(50, 50, 50);
}

/* Added a Pseudo-class Selector for links */
a:hover {
    background-color: rgba(224, 239, 222, 0.85);
    color: hsl(50, 100%, 50%);
}
a:active {
    background-color: hsl(12, 62%, 68%, 0.75);
}

/* Descendant Combinator for headers inside of sections. */
section h3 {
    text-decoration: underline;
}

/* Child Selector for headers inside of divs. */
div > h3 {
    text-decoration: underline; 
}

/* Color the first p after a h3. */
h3 + p {
    background-color: #E08D79;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-size: 3ex;
}

/* Color all p siblings of an aside. */
aside ~ p {
    background-color: #E08D79;
    padding: 60px; 
    line-height: 2em;
}

/* Combined two selectors for the intro. */
#introduction.intro {
    padding: 40px;
    text-align: center;
    background: #A882DD;
    color: #FFF; 
}

/* Added Futura Font */
@font-face {
    font-family: Futura;
    src: url(../fonts/futura.ttf);
}

/* Edit size/positioning of table. */
table {
    display: inline-block;
}

/* Fixed sizing of my cats */
img {
    min-width: 25%;
    max-width: 50%;
    min-height: 25%;
    max-height: 50%;
}

p {
    line-height: 1.5em;
    display: absolute;
}

/* FlexBox CSS Elements */
.parent {
    display: flex;
    height: 300px;
}

.child {
    padding: 15px;
    width: 150px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}